
@{
    ViewBag.Title = "Cập nhật hình ảnh";
    Layout = "~/Areas/Admin/Views/Shared/Layout-admin.cshtml";
}

<div class="col-md-4 pt-4">
    <h3>Cập nhật sản phẩm</h3>
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="idSanPham" value="@ViewBag.idSanPham" />
        <div class="form-group">
            <label class="control-label col-md-2">Chọn ảnh</label>
            <div class="col-md-10">
                <input type="file" name="fileAnh" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-xs btn-info">Upload</button>
            </div>
        </div>
        <p style="color:red">
            @ViewBag.error
        </p>
    </form>

</div>

